@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-bg: #000000;
  --primary-text: rgba(255, 255, 255, 1);
  --inverted-text: rgba(207, 207, 207, 1);
  --border: rgba(30, 30, 30, 1);
  --border-left-bg: rgba(125, 125, 125, 1);
  --border-left-bg-hover: rgba(125, 125, 125, 0.3);
  --border-left-active-bg: rgba(252, 132, 21, 1);
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  border-radius: 20px;
  background: #0029ff;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dcdcdc;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
